@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.campers{
    display: flex;
}

.checked{
    color: black;
}

.camper{
    background-color: darkred;
    min-height: 400px;
    text-align: center;
    border: solid red 2px;
}


.camper-header{
    background-color: lightcoral;
    height: 20%;
}

.camper-footer{
    color: white;
}

.camper-details{
    height: 60%;
}

.rent-button{
    background-color: green;
}

.disabled{
    background-color: red;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    transform: rotate(-45deg);
    font-size: 40px;
}